<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a routerLink="/" class="logo">AML</a>
            <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="/browse" class="nav-link">Browse</a>

            <a *ngIf="loggedIn" routerLink="/register" class="nav-link">Staff Page</a>
        </div>
        <div class="navbar-right">
            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="text" class="search-bar" placeholder="Search...">
            </div>
            <a *ngIf="!loggedIn" routerLink="/login" class="nav-link">Sign In</a>
            <a *ngIf="!loggedIn" routerLink="/register" class="nav-link">Register</a>

            <a *ngIf="loggedIn" routerLink="/account" class="nav-link">Account</a>
            <a *ngIf="loggedIn" routerLink="/" class="nav-link" (click)="updateLogIn()">Logout</a>

        </div>
    </nav>

</header>
