<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a routerLink="/" class="logo">AML</a>
            <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="/" class="nav-link">Browse</a>
            <a routerLink="/" class="nav-link">Categories</a>
            <a routerLink="/" class="nav-link">Wishlist</a>
            <a routerLink="/" class="nav-link">Blog</a>
            <a routerLink="/" class="nav-link">About Us</a>
        </div>
        <div class="navbar-right">
            <input type="text" class="search-bar" placeholder="Search book...">
            <a routerLink="/login" class="nav-link">Sign In</a>
            <a routerLink="/register" class="nav-link">Register</a>

        </div>
    </nav>

</header>
