<header>
    <nav>
        <div>
            <span routerLink="/">{{title()}}</span>
        </div>
        <ul>
            <button  *ngIf="!loggedIn" routerLink="/login">Login</button>
            <button  *ngIf="!loggedIn" routerLink="/register">Sign Up</button>

    
            <!-- Show these items if the user IS logged in -->
            <button  *ngIf="loggedIn" routerLink="/account">Account</button>
            <button  *ngIf="loggedIn" routerLink="/" (click)="updateLogIn()">Logout</button>

        </ul>
    </nav>
</header>
