.center {
    margin: auto;
    width: 50%;
    padding: 20px 20px;

    background-color: #ffffff; /* White color */
    border-radius: 5px; /* Rounded corners (optional) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center text inside the box */

  }
  