<div class="popup-overlay" *ngIf="borrowHidden()">
    <div class="popup-content">
        <h2>Borrow Media Name</h2>
        <form>
            <div class="options">
                <label>How would you like to borrow Media Name?</label>
                <button class="popup-button" >E-Copy</button>
                <button class="popup-button">Pickup in branch</button>
                <button class="popup-button">Delivery to address</button>
            </div>
            <!-- OPtions for sms or email notification for pickup time and instuctions or delivery  -->
          <button type="submit">Submit</button>
          <button class="cancel" >Cancel</button>
        </form>
    </div>    
</div>

<div *ngIf="reserveHidden()" class="popup-overlay">
    <div class="popup-content">
        <h2>Reserve Media Name</h2>
        <form>
            <div class="options">
                <div class="borrow-type">
                    <label>How would you like to borrow Media Name</label>
                    <button class="popup-button" >E-Copy</button>
                    <button class="popup-button">Pickup in branch</button>
                    <button class="popup-button">Delivery to address</button>
                </div>
                <div class="reserve-time">

                    <label>How long would you like to borrow the media for?</label>
                    <label style="display: inline;">From:</label>
                    <input type="date" style="display: inline;">
                    <br>
                    <label style="display: inline;">To:</label>
                    <input type="date" style="display: inline;">
                </div>
            </div>
          <button type="submit">Submit</button>
          <button class="cancel">Cancel</button>
        </form>
    </div>    
</div>



<div class="centered">
    <div class="row">
        <div class="column left">
            <img src="assets/images/image.png" >
        </div>
        <div class="column right">
            <div class="text">
                <h1 style="padding-bottom: 15px;">Media Name</h1>
                <h3 style="padding-bottom: 15px;">By Author Name</h3>
                <h4 style="padding-bottom: 15px;">Genre - Publication Date</h4>
                <p>Media Description</p>
                <br>
                Things about borrowng is it avalibale and where it can be borrowed ie e coppy/ in branch/ delivery
                <br>
                <button class="borrow" (click)="showBorrowPopup()">Borrow Media</button>
                <button class="reserve" (click)="showReservePopup()">Reserve Media</button>


            </div>
        </div>
      </div>
</div>


