<div class="centered">
    <div class="row">
        <div class="column left">
            <img src="assets/images/image.png" >
        </div>
        <div class="column right">
            <div class="text">
                <h1 style="padding-bottom: 15px;">Media Name</h1>
                <h3 style="padding-bottom: 15px;">By Author Name</h3>
                <h4 style="padding-bottom: 15px;">Genre - Publication Date</h4>
                <p>Media Description</p>
                <br>
                Things about borrowng is it avalibale and where it can be borrowed ie e coppy/ in branch/ delivery
                <br>
                Big Button to borrow/reserve
            </div>
        </div>
      </div>
      
</div>