

.centered {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 10px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .search{
    width: 50%;
    margin: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 300px;
    padding-right: 50px;
  }

  .dropdown-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    width: 200px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .filter-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }

  .filter-options label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .filter-options input[type="radio"] {
    margin-right: 10px;
  }

  ::placeholder {
    color: #333;
    
  }
  .search-bar:focus {
    outline: none;
    border-bottom: solid #333
  }
  
.search-bar {
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.search-container{
    border-bottom: solid;
    border-width: 2px;
    border-color: #333;
}
