<div class="centered">
    <input type="text" class="search-bar" placeholder="Search...">

    <div class="separator"></div>
    <div class="container">
        <!-- Filter Section -->
        <div class="filter">
            <div class="media-search">
                <!-- Availability Section -->
                <div class="filter-section">
                    <h4>Availability</h4>
                    <div class="filter-options">
                        <label><input type="radio" name="availability" value="Available">Available to Borrow</label>
                        <label><input type="radio" name="availability" value="Checked Out">Available to Reserve</label>
                        <label><input type="radio" name="availability" value="Checked Out">Unavailable</label>
                    </div>
                </div>                  
                <!-- Genre Section -->
                <div class="filter-section">
                    <h4>Genre</h4>
                    <div class="filter-options">
                        <label *ngFor="let genre of genres()">
                            <input 
                              type="checkbox" 
                              [value]="genre" 
                              (change)="toggleSelection(genre, $event)" 
                              [checked]="selectedOption() === genre">
                            {{ genre }}
                          </label>
                    </div>
                </div>

                <!-- Type Section -->
                <div class="filter-section">
                    <h4>Type</h4>
                    <div class="filter-options">
                        <label *ngFor="let type of types()">
                            <input 
                              type="checkbox" 
                              name="genre" 
                              [value]="type" 
                              (change)="toggleSelection(type, $event)" 
                              [checked]="selectedOption() === type">
                            {{ type }}
                          </label>                    </div>
                </div>
                <div class="filter-section">
                    <h4>Publication Date</h4>
                    <label>From </label>
                    <input type="date" id="start-date" name="start-date">
                    <label>To </label>
                    <input type="date" id="end-date" name="end-date">
                
                </div>
            </div>
        </div>

        <!-- Results Section -->
        <div class="results">


            <div class="row" *ngFor="let row of rows">
                <!-- Loop through each row and create 3 columns -->
                <div class="column" *ngFor="let column of columns">
                    <div *ngIf="getTitle() !== null">
                        <div class="image-container">
                            <img [src]="imageUrl" width="100%" height="100%">
                        </div>
                        <label id="label">{{ getTitle() }}</label>
                        <br>
                        <button [routerLink]="['/media-details', getRow() ]">View More</button>
                    </div>
                </div>
            </div>
              
        </div>
    </div>
</div>
